{% extends "base.html" %}

{% block title %}
  <title> Edit Profile | {{ super() }} </title>
{% endblock %}

{% block content %}
  <h1 class="display-4"> Edit Profile </h1>
  <form action = "" class = "mt-4" method = "post">
    {{ form.hidden_tag() }}
    <div class="form-group mb-0 col-md-5">
      {{ form.email.label }}
      {{ form.email(class = "form-control mb-2", placeholder = "Email") }}
      {% for error in form.email.errors %}
      <span style = "color:red;">[{{error}}]</span>
      {% endfor %}
    </div>
    <div class="form-group mb-0 col-md-4">
      {{ form.first_name.label }}
      {{ form.first_name(class = "form-control mb-2", placeholder = "First name") }}
      {% for error in form.first_name.errors %}
      <span style = "color:red;">[{{error}}]</span>
      {% endfor %}
    </div>
    <div class="form-group mb-0 col-md-4">
      {{ form.last_name.label }}
      {{ form.last_name(class = "form-control mb-2", placeholder = "Last name") }}
      {% for error in form.last_name.errors %}
      <span style = "color:red;">[{{error}}]</span>
      {% endfor %}
    </div>
    <div> {{ form.submit(class="ml-3 mt-3 btn btn-primary") }} </div>
  </form>
{% endblock %}
